<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    <main>
        <h1>Lista de dados cadastrados Dentro do banco de dados SQLITE </h1>
        <button onclick="fetchApiData()">CLique para mostrar dados</button>
        <ul id="fill_list"></ul>

    </main>



    <script src="/js/listall.js"></script>
</body>
</html>